{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Signup</title>
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock meta %}

{% block sign %}{% endblock %}

{% block content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <div class="content">
    <div id="asset">
        <img class="invis" src="{% static 'img/Jendela2.svg' %}">
    </div>
    <div id="logindiv">   
      <h2>Create Account</h2>
        <form id="loginform" method="POST" action="">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.username.errors }}
          {{ form.username }}
          <label for="{{ form.username.id_for_label }}">Username</label>
          {{ profile_form.full_name}}
          <label for="{{ profile_form.full_name.id_for_label }}">Full Name</label>
          {{ form.email.errors }}
          {{ form.email }}
          <label for="{{ form.email.id_for_label }}">E-mail</label>
          {{ form.password1.errors }}
          {{ form.password1}}
          <label for="{{ form.password1.id_for_label }}">Password</label>
          {{ form.password2.errors }}
          {{ form.password2 }}
          <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
          <input type="submit" value="Sign up">
        </form>
      <p class="hvacc">Already have an account? Sign in <a href="/auth/signin/">Here</a></p>
    </div>
  </div>
  <script type="text/javascript" >
    $(document).ready(function(){
        $("#id_username").attr('placeholder', 'Username');
        $("#id_email").attr('placeholder', 'E-mail');
        $("#id_full_name").attr('placeholder', 'Full Name');
        $("#id_password1").attr('placeholder', 'Password');
        $("#id_password2").attr('placeholder', 'Confirm Password');
    });
  </script>
{% endblock content %}
