/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F7FBE1;
    font-family: 'Rubik', 'Poppins', sans-serif;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.container-myfootprints {
    margin-top: 160px;
    margin-bottom: 160px;
}


/* Background color */

.bg-green {
    background-color: #438A5E;
}


/* Footer */

.contact-us h1 {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
}

.contact-us p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18.587px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 992px) {
    .logo {
        margin-left: 0;
        margin-right: auto;
    }
}