{% extends 'about.html' %}

{% block sign %}<li id="sign"><a href="{% url 'authapp:logout' %}">SIGN OUT</a></li>{% endblock %}

<!-- Form feel about MyFootprints -->
{% block feedback%}
<br>
<div class="feedback">
    <div class="panel panel-default col-md-6 col-md-offset-3">
        <div class="panel-body">
            <br>
            <br>
            <h2>How do you feel using My Footprints??</h2><br>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{formFeedback.as_p}}
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock feedback %}
