{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Info Corona</title>
<link rel="stylesheet" href="{% static 'css/feelings.css' %}">
{% endblock meta %}

{% block sign %}<li id="sign"><a href="/auth/signin/">SIGN IN</a></li>{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row info-corona">
            <div class="col-md-12">
                <h1>WHAT IS CORONA VIRUS?</h1>
                <br><br><br><br>
            </div>

            <div class="col-md-6 align-self-center">
                <img class="img-responsive img-center corona-img" src="{% static 'img/info-corona/Corona.svg'%}" alt="corona-img">
            </div>

            <div class="col-md-6">
                <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
 Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
 The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).</p>
                <p style="font-family:'Poppins Black';text-align:right;">Source: <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">WHO</a></p>
            </div>
            

            {% block feel %}
            {% endblock feel %}

            {% if user.is_authenticated %}
            {% if allFeeling %}
                <div class="col-md-12">
                <h2>WHAT OTHERS FEEL </h2><br>
                </div>
                {% for feeling in allFeeling reversed %} 
                <div class="feeling">
                    <div class="panel panel-default col-md-6 col-md-offset-3">
                        <div class="panel-body">
                            <h4> {{feeling.user.full_name}}
                            <p> on {{ feeling.date}} </p></h4>
                            <p> {{feeling.feeling}} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}