#place {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    color: #438A5E;
}

#date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #242424;
}

#desc {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #242424;
    margin-left: 43px;
    margin-right: 43px;
}

.mf {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.isi {
    margin-bottom: 80px;
}

.btn-delete {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    text-align: justify;
    text-decoration: none;
    color: white;
    background: #C96464;
    border-radius: 13px;
    padding: 4px 20px;
}

.btn-update {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    text-align: justify;
    text-decoration: none;
    color: white;
    background: #436F8A;
    border-radius: 13px;
    padding: 4px 20px;
}

.btn-back {
    background: #E8F3A6;
    border-radius: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #5D7365;
    padding: 4px 44px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.btn-add {
    background: #BAC964;
    border-radius: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 44px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.btn-add:hover,
.btn-back:hover {
    color: #438A5E;
    background-color: white;
}

#donthave {
    font-family: 'Rubik Black';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 79px;
    text-align: center;
    color: #438A5E;
}

#lets {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 34.4941px;
    line-height: 52px;
    color: #436F8A;
}