@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik:wght@900&display=swap');

body{
    background-color: #f7fbe1;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-family: 'Rubik', sans-serif;
    color: #436F8A;
    margin: 25px;
}

.content{
    margin: auto;
    margin-top: 111px;
    margin-bottom: 111px;
    width: 1000px;
    display: flex;
    align-items: center;
}

.profile{
    padding: 53px;
    background: #ffffff;
    width: 60%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.profile h2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#logindiv{
    padding: 53px;
    background: #ffffff;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin-left: 80px;
    }

#logindiv h2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hvacc{
    margin: auto;
}

#logindiv h2{
    color: #438A5E;
    font-weight: 800;
}

.errorlist{
    padding: 0;
    font-size: 14px;
    color: red;
    list-style-type: none;
}

.errorlist{
    text-align: center;
}

.errormsg{
    font-size: 14px;
    color: red;
}


input[type=text], input[type=email], input[type=password]{
    width: 100%;
    background-color: #f7fbe1;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 8px; 
    border: none;
    cursor: text;
}

input[type=submit]{
    background-color: #e8f3a6;
    width: 100%;
    height: 52px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 26px;    
    border: none;
}

/* Pure CSS Floating Label */

label {
    margin-top: -85px;
    margin-left: 5px;
    display: block;
    position: absolute;
    opacity: 0;
    transition: 0.2s ease-in-out transform;
    font-size: 14px;
}

input:placeholder-shown + label{
    visibility: hidden;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

input:not(:placeholder-shown) + label, input:focus:not(:placeholder-shown) + label{
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translateY(-10px);
    transition: 0.2s ease-in-out transform;
}

/* Responsive Resolution */
@media only screen and (max-width: 900px){
    .invis{
        display: none;
    }
    
    .content{
        width: 100%;
    }
    
    #logindiv{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 700px){
    .invis{
        display: none;
    }
    
    .content{
        width: 100%;
    }
    
    #logindiv{
        width: 90%;
        margin: auto;
    }
}